#container_fiche{
    position: relative;
    top: 40px;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
}

#container_questions{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#affichage_score{
    position: fixed;
    right: 40px;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif ;
    color: black;
    background: #00B894;
    padding: 10px 15px;
    min-width: 100px;
    min-height: 45px;
    border-radius: 10px;

}